<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tile.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @tile.text %>
</p>

<%= link_to 'Edit', edit_tile_path(@tile) %> |
<%= link_to 'Back', tiles_path %>
